@if (todos.length > 0) {
  <footer class="footer">
    <span class="todo-count">
      <strong>{{ filteredTodos.length }}</strong>
      {{ filteredTodos.length === 1 ? "item" : "items" }}
      @if (filter === 'active' || filter === 'active-high-priority') {
        left
      } @else if (filter === 'completed' || filter === 'completed-high-priority') {
        completed
      } @else if (filter === 'high-priority') {
        high priority
      } @else {
        total
      }
    </span>
    <ul class="filters">
      <li>
        <a routerLink="/" [class.selected]="filter === 'all'">All</a>
      </li>
      <li>
        <a routerLink="/active" [class.selected]="filter === 'active'">Active</a>
      </li>
      <li>
        <a routerLink="/completed" [class.selected]="filter === 'completed'">Completed</a>
      </li>
      <li>
        <a routerLink="/high-priority" [class.selected]="filter === 'high-priority'">🚩 High Priority</a>
      </li>
      <li>
        <a routerLink="/active-high-priority" [class.selected]="filter === 'active-high-priority'">🚩 Active</a>
      </li>
      <li>
        <a routerLink="/completed-high-priority" [class.selected]="filter === 'completed-high-priority'">🚩 Completed</a>
      </li>
    </ul>
    @if (completedTodos.length > 0 && (filter === 'all' || filter === 'completed' || filter === 'high-priority' || filter === 'completed-high-priority')) {
      <button type="button" class="clear-completed" (click)="clearCompleted()">
        Clear Completed
      </button>
    }
  </footer>
}
